.container {
    margin-top: 50px;
}

.destination-box {
    margin-top: 30px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destination-box img {
    width: 100%;
    border-radius: 8px;
}

button {
    margin-top: 20px;
}
